<div class="card">
  <div class="card-header"></div>

  <div class="card-body">
    <form novalidate>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstNameId"
            type="text"
            placeholder="First Name (required)"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastNameId"
          >Last Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="lastNameId"
            type="text"
            placeholder="Last Name (required)"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="emailId">Email</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="emailId"
            type="email"
            placeholder="Email (required)"
          />
        </div>
      </div>
        <div class="form-group row mb-2">
              <label
                class="col-md-2 col-form-label text-danger font-weight-bold"
                for="emailId"
                >Address</label
              >
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="address"
                  type="text"
                  placeholder="Address"
                />
              </div>
            </div> 
    </form>
  </div>
</div>
